<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.alertDealDao">
    <insert id="addAlertDeal" parameterType="alertDeal">
        insert into alert_deal values (null ,#{alertId.id},#{username},#{type},#{normal}
        ,#{unormal},#{time},#{content});
    </insert>

    <select id="selAlertDeal" resultType="alertDeal" parameterType="int">
        select id,type,time from alert_deal order by id desc limit #{limit};
    </select>

    <select id="selById" resultType="alertDeal" parameterType="int">
        select id, username, type, normal, unormal,time, content from alert_deal where id=#{id}
    </select>
</mapper>