<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.alertDealDao">
    <insert id="addAlertDeal" parameterType="alertDeal">
        insert into alert_deal values (null ,#{alertId},#{username},#{type},#{normal}
        ,#{unormal},#{time},#{content});
    </insert>
</mapper>