<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.Buoydao">
        <resultMap id="BuoyResultMap" type="com.example.demo.domain.buoy">
            <id property="bId" column="id"/>
            <result property="bTime" column="time" javaType="java.time.LocalDateTime"/>
            <result property="bA0" column="b001"/>
            <result property="bA1" column="b003"/>
            <result property="bA2" column="b010"/>
            <result property="bA3" column="b011"/>
            <result property="bA4" column="b015"/>
            <result property="bA5" column="b060"/>
            <result property="bA6" column="bA00"/>
            <result property="bA7" column="bA01"/>
            <result property="bA8" column="bA02"/>
            <result property="bA9" column="bA03"/>
            <result property="bA10" column="bA04"/>
            <result property="bA11" column="bA05"/>
            <result property="bA12" column="bA06"/>
            <result property="bA13" column="bA07"/>
            <result property="bA14" column="bA08"/>
            <result property="bA15" column="bA09"/>
            <result property="bA16" column="bA10"/>
            <result property="bA17" column="bA11"/>
            <result property="bA18" column="bA12"/>
            <result property="bA19" column="bA13"/>
            <result property="bA20" column="bA14"/>
            <result property="bA21" column="bA15"/>
            <result property="bA22" column="bA16"/>
        </resultMap>
    <select id="findB" resultMap="BuoyResultMap">
         select * from water.buoy order by id desc limit 1;
    </select>

    <select id="findByNewTime" resultMap="BuoyResultMap" parameterType="java.time.LocalDateTime">
         select * from buoy where water.buoy.time=(select max(water.buoy.time) from buoy);
    </select>
</mapper>