<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.Buoy_24hourDao">
    <resultMap id="BuoyResultMap" type="com.example.demo.domain.buoy_Avg_24Hour">
        <id property="bId" column="id"/>
        <result property="bTime" column="time" javaType="java.time.LocalDateTime"/>
        <result property="b001" column="b001"/>
        <result property="b003" column="b003"/>
        <result property="b010" column="b010"/>
        <result property="b011" column="b011"/>
        <result property="b015" column="b015"/>
        <result property="b060" column="b060"/>
        <result property="bA00" column="bA00"/>
        <result property="bA01" column="bA01"/>
        <result property="bA02" column="bA02"/>
        <result property="bA03" column="bA03"/>
        <result property="bA04" column="bA04"/>
        <result property="bA05" column="bA05"/>
        <result property="bA06" column="bA06"/>
        <result property="bA07" column="bA07"/>
        <result property="bA08" column="bA08"/>
        <result property="bA09" column="bA09"/>
        <result property="bA10" column="bA10"/>
        <result property="bA11" column="bA11"/>
        <result property="bA12" column="bA12"/>
        <result property="bA13" column="bA13"/>
        <result property="bA14" column="bA14"/>
        <result property="bA15" column="bA15"/>
        <result property="bA16" column="bA16"/>
    </resultMap>

    <sql id="colums">
        time, b001, b003, b010, b011, b015, b060, bA00, bA01, bA02, bA03, bA04, bA05, bA06, bA07, bA08, bA09, bA10, bA11, bA12, bA13, bA14, bA15, bA16
    </sql>

    <update id="trunBuoy_24hour">
        truncate table buoy_avg_24hour;
    </update>

    <insert id="addBuoy_24hour" parameterType="time">
        insert into buoy_avg_24hour(<include refid="colums"></include>) select <include refid="colums"></include> from
        buoy where time between #{startTime} and #{endTime};
    </insert>

    <insert id="saveNewBuoy" parameterType="Buoy">
        insert into buoy_avg_24hour(<include refid="colums"></include>)
        values (#{bTime},#{b001},#{b003},#{b010},#{b011},#{b015},#{b060},#{bA00},#{bA01},#{bA02}
        ,#{bA03},#{bA04},#{bA05},#{bA06},#{bA07},#{bA08},#{bA09},#{bA10},
        #{bA11},#{bA12},#{bA13},#{bA14},#{bA15},#{bA16});
    </insert>

    <delete id="delOldBuoy">
        delete
    </delete>
</mapper>