<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.StationDao">
    <resultMap id="StationResultMap" type="com.example.demo.domain.station">
        <id property="sId" column="id"/>
        <result property="s1" column="S1"/>
        <result property="s2" column="S2"/>
        <result property="s3" column="S3"/>
        <result property="s4" column="S4"/>
        <result property="s5" column="S5"/>
        <result property="s6" column="S6"/>
        <result property="s7" column="S7"/>
        <result property="s8" column="S8"/>
        <result property="s9" column="S9"/>
        <result property="sTime" column="time"/>
    </resultMap>
    <!--<select id="findB" resultMap="BuoyResultMap">
         select * from buoy order by bId desc limit 1;
    </select>-->

    <select id="findByNewTime" resultMap="StationResultMap" parameterType="java.time.LocalDateTime">
            select S1, S2, S3, S4, S5, S6, S7, S8, S9,time from station where time>=#{time} order by id desc limit 1;
    </select>
</mapper>