<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.Userdao">
    <resultMap id="userResult" type="com.example.demo.domain.user">
        <id column="uId" property="userId"></id>
        <result column="uName" property="userName"></result>
        <result column="uPwd" property="userPwd"></result>
        <result column="device_token" property="deviceToken"></result>
        <result column="pId" property="pId"></result>
        <result column="part" property="part"></result>
    </resultMap>
    <select id="selectbyName" parameterType="java.lang.String" resultMap="userResult">
        select uId,uName,uPwd,p.pId,p.pName part from water.User
            inner join part p
                on User.pId = p.pId
                    where uName=#{uName};
    </select>
    <select id="selectbyId" parameterType="java.lang.Integer" resultMap="userResult">
        select uId,uName,uPwd,p.pId,p.pName part from water.User
            inner join part p
                on User.pId = p.pId
                    where uId=#{uId};
    </select>
    <update id="updatepwd" parameterType="user">
         update water.User set uPwd=#{userpwd} where uId=#{userid}
    </update>
    <select id="selectAll" resultMap="userResult">
        select uId,uName from water.User;
    </select>
</mapper>